cache/
out/
.env
node_modules
artifacts
.DS_Store
*.log
Secrets.sol
foundry.toml
broadcast
commands.txt
generated/deployment.js
key
key.pub
Secrets.sol
out-sepolia-5-12-22-18-34
foundry-cache
deployments
